<ActionBar>
    <NavigationButton text="" icon="res://ic_arrow_back"></NavigationButton>
</ActionBar>
<GridLayout rows="auto, auto, *">
    <header [firstText]="firstText" [secondText]="secondText"></header>    
    <StackLayout row="1" style="margin-top:46;">
        <GridLayout columns="*, 44"  *ngFor="let option of options | async">
            <StackLayout colSpan="2" verticalAlignment="top" class="line"></StackLayout>      
            <GridLayout columns="44, *" col="0" (tap)="onTap(option)" height="48">
                <Label width="20" col="0" text="&#xf05d;" class="font-awesome check" *ngIf="isSelected(option)"></Label>
                <Label col="1" [text]="option" class="normal-text" [class.passive]="!isSelected(option)"></Label>
            </GridLayout>
            <Label width="20" col="1" text="&#xf05a;" class="font-awesome info" (tap)="onInfoTap('Info')"></Label>
        </GridLayout>
    </StackLayout>
    <StackLayout row="1" verticalAlignment="bottom" class="line"></StackLayout>
    <GridLayout row="2">
        <Button [class.disabled]="!canProceed" [isEnabled]="canProceed" (tap)="goToState()" verticalAlignment="bottom" text="Get a quote" class="next-button"></Button>
    </GridLayout>
    <progress-bar [step]="5"></progress-bar>
</GridLayout>